<div class="form">
  <form [formGroup]="createHeroForm" (ngSubmit)="onSubmit()" class="form-group">
    <label for="id">Id</label><br />
    <input class="form-control" formControlName="id" /><br /><br />
    <span *ngIf="id?.errors?.['isZero']">
      Invalid id
      <br />
      <br />
    </span>

    <label for="name">Name</label><br />
    <input class="form-control" formControlName="name" /><br /><br />

    <label for="description">Description</label><br />
    <textarea class="form-control" formControlName="description"> </textarea
    ><br /><br />

    <button [disabled]="!createHeroForm.valid" type="submit">Send</button>
    <button (click)="onClear()">Clear</button>
  </form>
</div>

<br />
<br />

<div class="created-hero">
  <h1>Created hero:</h1>
  <div class="hero-details">
    <h1 *ngIf="myHero?.name">{{ myHero.name }}</h1>
    <p *ngIf="myHero?.description">{{ myHero.description }}</p>
  </div>
</div>

<br />
<br />
