<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" (click)="onSidenavClose()">
    <span clas="nav-caption">Dashboard</span>
  </a>

  <a mat-list-item routerLink="/heroes" (click)="onSidenavClose()">
    <span clas="nav-caption">Heroes</span>
  </a>

  <a mat-list-item routerLink="/hero-cards" (click)="onSidenavClose()">
    <span clas="nav-caption">Hero cards</span>
  </a>

  <a mat-list-item routerLink="/heroes-table" (click)="onSidenavClose()">
    <span clas="nav-caption">Heroes table</span>
  </a>
</mat-nav-list>
